.next_img {
  object-fit: cover;
  object-position: center center;
  vertical-align: top;
}

.category {
  border: 1px solid var(--c-primary-sub);
  color: var(--c-primary-sub);
  border-radius: 0;
  padding: 0.3em;
  margin-right: 0.5em;
}

.tag {
  list-style-type: none;
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 10px;
  border: 1px solid var(--c-primary);
  color: var(--c-primary);
  border-radius: 5px;
  font-size: var(--text-sm);
  padding: 0.3em;
}
