.article_img {
  border-radius: 0.5em 0.5em 0 0;
}

.link_card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: .5em;
  transition:box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);

  &:hover {
    box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
    transform:translate(0, -2px);
  }
}